.input{
    display:block;
    width:100%;
    padding : var(--space-02) var(--space-03);
    border: var(--border-line) solid transparent;
    background-color: var(--gray-00);
    border-radius: var(--border-radius-02);
}
.input:focus{
    box-shadow: 0 0 2px 2px var(--primary-01);
    outline: none;
}

.login{
    margin-bottom: var(--space-05);
}

