p,h1,h2,h3,h4,h5,h6{
    margin:0;
  }
.title{

}
.title--primary{
    font-size: var(--text-06);
    text-align: center;
    margin:var(--space-04) 0 var(--space-07) 0;
    color: var(--primary-02)
}
.subtitle{
    font-size: var(--text-04);
    margin-bottom: var(--space-02);
    text-align:center

}